#profile {
    width: 50%;
}

@media (max-width: 992px) {
    #profile {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #name {
        display: block;
    }
    #profile {
        width: 70%;
    }
}

@media (max-width: 576px) {
    #profile {
        width: 100%;
    }
    #button {
        flex-direction: column;
    }
}